<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Leocakes</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/page/header.border.css">
  <link rel="stylesheet" href="../css/page/header.welcome.css">
  <link rel="stylesheet" href="../css/page/header.welcome.css">
  <link rel="stylesheet" href="../css/page/short-info.css">
  <link rel="stylesheet" href="../css/page/our.proposition.css">
  <link rel="stylesheet" href="../css/page/services.css">
  <link rel="stylesheet" href="../css/page/menu.css">
  <link rel="stylesheet" href="../css/page/contact.css">

  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

  <script src="https://unpkg.com/htmx.org@1.9.9"></script>
</head>
<body>

  
  <section 
    class="header border"
    data-hx-trigger="load"
    data-hx-swap="outerHTML"
    data-hx-get="html/header.border.html"
  ></section>
  <section 
  class="header welcome"
  data-hx-trigger="load"
  data-hx-swap="outerHTML"
  data-hx-get="html/header.welcome.html"
></section>
<section 
class="short-info"
data-hx-trigger="load"
data-hx-swap="outerHTML"
data-hx-get="html/short.info.html"
></section>
<section 
class="header welcome"
data-hx-trigger="load"
data-hx-swap="outerHTML"
data-hx-get="html/our.proposition.html"
></section>
<section 
class="header welcome"
data-hx-trigger="load"
data-hx-swap="outerHTML"
data-hx-get="html/services.html"
></section>
<section 
class="menu"
data-hx-trigger="load"
data-hx-swap="outerHTML"
data-hx-get="html/menu.html"
></section>
<section 
class="gallary"
data-hx-trigger="load"
data-hx-swap="outerHTML"
data-hx-get="html/gallary.html"
></section>
<section 
class="contact"
data-hx-trigger="load"
data-hx-swap="outerHTML"
data-hx-get="html/contact.html"
></section>











</body>
</html>
