.our-proposition{
    position: relative;
    background: url("/resources/img/bakery.png") no-repeat center center / cover;
    padding-top: 90px;
    padding-bottom: 60px;
}

.our-proposition h1{
    text-align: center;
    margin-bottom: 60px;
    font-family: Montserrat;
font-weight: 400;
font-style: normal;
font-size: 64px;
line-height: 100%;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);

}

.propos-img{
    height: 240px;
}
.list-propos{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin:0 80px ;
    background: rgba(52, 52, 52, 0.3);

}
.name-of-propos{
    margin-top: 36px;
    font-family: Montserrat;
    font-weight: 400;
    font-style: Regular;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    
color: rgba(255, 255, 255, 1);
}

@media (max-width: 1022px){
    .list-propos{
        display: block;
        
    }
    .name-of-propos{
        padding-top: 0px;
        padding-bottom: 40px;
    }
}